<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-lang-ro" version="6.0.0" class="com.logicaldoc.language.ro.RomanianPlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>	
	<extension plugin-id="logicaldoc-core" point-id="Language" id="roLanguage">
		<parameter id="locale" value="ro" />
		<parameter id="analyzer" value="-" />
	</extension>
</plugin>
