<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-ldap" version="6.0.2" class="com.logicaldoc.ldap.LdapPlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>

	<extension plugin-id="logicaldoc-core" point-id="Feature" id="f55">
	    <parameter id="name" value="Feature_55" />
    </extension>
	<extension plugin-id="logicaldoc-core" point-id="Authentication" id="LDAPAuthentication">
		<parameter id="providerId" value="LDAPAuthentication"/>
		<parameter id="position" value="10"/>
	</extension>
	<extension plugin-id="logicaldoc-core" point-id="Task" id="ldapTask">
		<parameter id="name" value="LDAPSynchroniser" />
	</extension>
	<extension plugin-id="logicaldoc-core" point-id="DbInit" id="ldapDbInit">
		<parameter id="position" value="20" />
		<parameter id="name" value="logicaldoc-ldap" />
		<parameter id="sqlFile" value="sql/logicaldoc-ldap.sql" />
	</extension>
</plugin>