<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-webdav" version="5.1.2" class="com.logicaldoc.webdav.WebDAVPlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>
	
	<runtime>
		<library id="logicaldoc-webdav" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="jackrabbit-webdav" path="lib/jackrabbit-webdav-1.4.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jackrabbit-jcr-server" path="lib/jackrabbit-jcr-server-1.4.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jackrabbit-webapp" path="lib/jackrabbit-webapp-1.4.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jackrabbit-jcr-commons" path="lib/jackrabbit-jcr-commons-1.4.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jackrabbit-text-extractors" path="lib/jackrabbit-text-extractors-1.4.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jcr" path="lib/jcr-1.0.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="slf4j-api" path="lib/slf4j-api-1.5.5.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="slf4j" path="lib/slf4j-log4j12-1.3.0.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="logicaldoc-core" point-id="DbInit" id="webdavDbInit">
		<parameter id="position" value="40" />
		<parameter id="name" value="logicaldoc-webdav" />
		<parameter id="sqlFile" value="sql/logicaldoc-webdav.sql" />
	</extension>
</plugin>