<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="workflow" version="5.0.0" class="com.logicaldoc.workflowPlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>

	<runtime>
		<library id="logicaldoc-workflow" path="classes/" type="code">
			<export prefix="*" />
		</library>
		
		<library id="bsh" path="lib/bsh-2.0b1.jar" type="code">
			<export prefix="*" />
		</library>	
			
		<library id="jbpm-identity" path="lib/jbpm-identity-3.2.3.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="jbpm-jpdl" path="lib/jbpm-jpdl-3.2.3.jar" type="code">
			<export prefix="*"/>
		</library>
		
		<library id="spring-modules-jbpm31" path="lib/spring-modules-jbpm31-0.8.jar" type="code">
			<export prefix="*" />
		</library>
		
		<library id="jcr" path="lib/jcr-1.0.1.jar" type="code">
			<export prefix="*" />
		</library>
		
		<library id="xstream" path="lib/xstream-1.3.1.jar" type="code">
			<export prefix="*" />
		</library>
		
		<library id="xpp3" path="lib/xpp3_min-1.1.4c.jar" type="code">
			<export prefix="*" />
		</library>
		
		<library id="freemarker" path="lib/freemarker-2.3.15.jar" type="code">
			<export prefix="*" />
		</library>
		
		<library id="javassist" path="lib/javassist-3.8.0.GA.jar" type="code">
			<export prefix="*" />
		</library>
		
		
   	</runtime>
	
	<extension plugin-id="logicaldoc-core" point-id="DocumentMenu" id="startworkflow">
		<parameter id="id" value="startworkflow"/>
		<parameter id="action" value="#{WorkflowTemplateManager.setupWorkflow}"/>
		<parameter id="title" value="workflow.startworkflow"/>
		<parameter id="icon" value="workflow.png"/>
		<parameter id="target" value=""/>
		<parameter id="permission" value="WORKFLOW"/>
		<parameter id="readonly" value="false"/>
		<parameter id="position" value="10"/>
	</extension>
	
	<extension plugin-id="logicaldoc-core" point-id="DbInit" id="workflowDbInit">
		<parameter id="position" value="10" />
		<parameter id="name" value="logicaldoc-workflow" />
		<parameter id="sqlFile" value="sql/logicaldoc-workflow.sql" />
	</extension>
	
	<extension plugin-id="logicaldoc-core" point-id="DbInit" id="jbpmInit">
		<parameter id="position" value="10" />
		<parameter id="name" value="jbpm" />
		<parameter id="sqlFile" value="sql/jbpm.jpdl.sql" />
	</extension>
	
    <extension plugin-id="logicaldoc-core" point-id="DatabaseMapping" id="worklow">
        <parameter id="mapping" value="classpath*:org/jbpm/**/*.hbm.xml"/>
        <parameter id="position" value="2"/>
    </extension>
</plugin>