.gwt-HorizontalSplitPanel {
	
}

.gwt-HorizontalSplitPanel .hsplitter {
	cursor: move;
	border: 0px;
	background: #91c0ef url(./images/vborder.png) repeat-y;
}


/*calendar styles*/
.calendarevent2 {
   font-size:9px;
   background-color: #7BDE7B;
   border: 1px solid 	#008A00;
   font-family: Arial, Verdana, sans-serif;
}

.calendarevent2Header {
    font-size:9px; color: white;
    background-color:	#005C00;
}

.calendarevent2Body {
    font-size: 9px;
    background-color: #7BDE7B;
    padding: 3px;
    font-family: Arial, Verdana, sans-serif;
    color: black;
}

.calendarevent2Resizer{
    border-top:1px solid white;
    border-bottom: 1px solid white;
}

.calendarevent3 {
   font-size:9px;
   background-color:#FA8072;
   border: 1px solid #004D99;
   font-family: Arial, Verdana, sans-serif;
}

.calendarevent3Header {
    font-size:9px; color: white;
    background-color:#B22222;
}

.calendarevent3Body {
    font-size: 9px;
    background-color: #FA8072;
    padding: 3px;
    font-family: Arial, Verdana, sans-serif;
    color: black;
}

.calendarevent3Resizer{
    border-top:1px solid white;
    border-bottom: 1px solid white;
}


/* Generic styles */

.bigtext {
  font-size: 24pt;
}

.contactingserver {
  font-family: Arial, Bitstream Vera Sans, sans-serif; 
  font-size: 16pt;
  font-weight: bold;
  white-space: nowrap;
}

.row {
  border-top: 1px solid #cccccc;
  margin-top: 4px;
}

.setupHeader {
	font-family: Arial, Bitstream Vera Sans, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #AAAAAA;
	vertical-align: center;
}

.logo_head {
	margin-left: 5px;
	margin-top: 5px;
	border: 0px solid;
	float: left;
	width: 205px;
}

.logo_head_oem {
	margin-right: 5px;
	margin-top: 5px;
	border: 0px solid;
	float: right;
	width: 205px;
}

.footer {
	height: 20px;
	background-color: #DDDDDD;
}

.searchOptions {
	padding-left: 5px;
	color: white;
	cursor: pointer;
}

.warn {
	background-color: #FFFFA1;
}

.diff {
	color: #FF8723;
}

.footerInfo {
	color: #577ED0;
}

.footerError {
	color: #EF4A4A;
}

.footerWarn {
	color: #FFBE0F;
}

.immutable {
	color: #888888;
	font-style: italic;
}

.upload {
	margin-left: 5px;
	margin-top: 10px;
}

.infoPanel {
	background-color: #DDDDDD;
}

.officelogout {
	color: #536CDF;
}


.s {
	border-bottom: 1px solid #dddddd;
}

.deletedItem {
	color: grey;
	text-decoration: line-through;
}

.hint {
	white-space: nowrap;
	padding-left: 3px;
	color: grey;
}


/* Login styles */
.loginTop {
    background-color:white;
}

.loginSep {
    background-color:#a9b3ba;
}

.loginMain {
     background-color:#1b7ec3;
}

.loginProductInfo {
	font-family: Arial, Bitstream Vera Sans, sans-serif;
	font-size: 13px;
	color: white;
  margin-left: 10px;
}

.loginProductInfo a, .loginProductInfo a:link {
  text-decoration: none;
  color: white;
}

.loginButton, .loginButtonOver, .loginButtonFocused, .loginButtonFocusedOver, .loginButtonDown, .loginButtonFocusedDown, .loginButtonSelected, .loginButtonSelectedFocused, .loginButtonSelectedDown, .loginButtonSelectedFocusedDown, .loginButtonSelectedOver, .loginButtonSelectedFocusedOver, .loginButtonDisabled, .loginButtonSelectedDisabled
{
  background-color: #ff8824;
  background-repeat: repeat-x;
  background-size: 100% auto;
  border-top-width: 1px;
  border-right-width-value: 1px;
  border-bottom-width: 1px;
  border-left-width-value: 1px;
  border-top-style: solid;
  border-right-style-value: solid;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-top-color: #fc8827;
  border-right-color-value: #fc8827;
  border-bottom-color: #fc8827;
  border-left-color-value: #fc8827;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  color:white;
  font-family: Arial,Verdana,sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding-top: 10px;
  padding-right: 6px;
  padding-bottom: 10px;
  padding-left: 6px;
}


.loginButtonOver, .loginButtonFocusedOver, .loginButtonSelectedFocused, .loginButtonSelectedFocusedOver
{
  background-color: #fea458;
  background-repeat: repeat-x;
  background-size: 100% auto;
  border-top-width: 1px;
  border-right-width-value: 1px;
  border-bottom-width: 1px;
  border-left-width-value: 1px;
  border-top-style: solid;
  border-right-style-value: solid;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-top-color: #fea458;
  border-right-color-value: #fea458;
  border-bottom-color: #fea458;
  border-left-color-value: #fea458;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
}

.loginFormTitle, .loginFormTitleFocused, .loginFormTitleDisabled
{
  color: white;
  font-family: Arial,Verdana,sans-serif;
  font-size: 15px;
}

.loginFormTitle, .loginFormTitleFocused
{
  color: white;
}

.loginTextItem, .loginTextItemFocused, .loginTextItemDisabled, .loginTextItemDisabledHint, .loginTextItemError, .loginTextItemHint
{
  background-color: white;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  border-top-width: 1px;
  border-right-width-value: 1px;
  border-bottom-width: 1px;
  border-left-width-value: 1px;
  border-top-style: solid;
  border-right-style-value: solid;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-top-color: #ababab;
  border-right-color-value: #ababab;
  border-bottom-color: #ababab;
  border-left-color-value: #ababab;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  color: black;
  padding-top: 4px;
  padding-right: 2px;
  padding-bottom: 4px;
  padding-left: 2px;
  text-overflow: ellipsis;
  font-family: Arial,Verdana,sans-serif;
  font-size: 15px;
}

.loginTextItemFocused
{
  color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c0d8ec;
  border-left-width-value: 1px;
  border-left-style-value: solid;
  border-left-color-value: #b8cfef;
  border-right-width-value: 1px;
  border-right-style-value: solid;
  border-right-color-value: #b3c6db;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #587aad;
}

.loginSelectItemText, .loginSelectItemTextError, .loginSelectItemTextFocused, .loginSelectItemTextDisabled
{
  padding-left: 5px;
  margin-left: 2px;
  margin-top: 1px;
  margin-botom: 1px;
  font-family: Arial,Verdana,sans-serif;
  font-size: 15px;
  background-color: white;
}

.saveLogin
{
  color: white;
  font-family: Arial,Verdana,sans-serif;
  font-size: 13px;
}

.loginForgotpwd {
	text-decoration: none;
	color: white;
  font-size: 13px;
}

.loginMemesage {
  color: white;
  font-family: Arial,Verdana,sans-serif;
  font-size: 13px;
}

.loginCopyright{
  color: white;
  font-family: Arial,Verdana,sans-serif;
  font-size: 13px;
}

.loginCopyright a, .loginCopyright a:link {
  text-decoration: none;
  color: white;
}