/*
---------- System error pages -------
*/

.system_top {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 140px;
	width: 100%;
    background-color : #EEEEEE;
}

.system_bg {
	background-color: #6699CB;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 140px;
	left: 0px;
}

.error_logo {
    padding-top: 40px;
    padding-left: 100px;
}

.system_logo {
	padding-left: 92px;
	padding-right: 57px;
	padding-top: 5px;
	vertical-align: top;
}

.system_info {
	font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	vertical-align: top;
	padding-left: 7px;
	padding-top: 16px;
}

.system_arrow {
	vertical-align: top;
	padding-top: 19px;
}

A.system_link {
	font-family: Verdana;
	font-size: 11px;
	padding-left: 7px;
	color: #ffffff;
	text-decoration: none;
}