<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-lang-pt" version="6.0.0" class="com.logicaldoc.plugin.language.pt.PortuguesePlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>	
	<extension plugin-id="logicaldoc-core" point-id="Language" id="ptLanguage">
	    <parameter id="locale" value="pt" />
		<parameter id="analyzer" value="-" />
	</extension>
</plugin>
