<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-webservice" version="5.2.1" class="com.logicaldoc.webservice.WebservicePlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>
	<runtime>
		<library id="logicaldoc-webservice" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="asm" path="lib/asm-2.2.3.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-api" path="lib/cxf-api-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-common-schemas" path="lib/cxf-common-schemas-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-common-utilities" path="lib/cxf-common-utilities-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-rt-bindings-soap" path="lib/cxf-rt-bindings-soap-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-rt-bindings-xml" path="lib/cxf-rt-bindings-xml-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-rt-core" path="lib/cxf-rt-core-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-rt-databinding-jaxb" path="lib/cxf-rt-databinding-jaxb-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-rt-frontend-jaxws" path="lib/cxf-rt-frontend-jaxws-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-rt-frontend-simple" path="lib/cxf-rt-frontend-simple-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-rt-transports-http" path="lib/cxf-rt-transports-http-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-rt-ws-addr" path="lib/cxf-rt-ws-addr-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="cxf-tools-common" path="lib/cxf-tools-common-2.2.7.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jaxb-api" path="lib/jaxb-api-2.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jaxb-impl" path="lib/jaxb-impl-2.1.12.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="wsdl4j" path="lib/wsdl4j-1.6.2.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="neethi" path="lib/neethi-2.0.4.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="wstx-asl" path="lib/wstx-asl-3.2.9.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="xml-resolver" path="lib/xml-resolver-1.2.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="XmlSchema" path="lib/XmlSchema-1.4.5.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="logicaldoc-core" point-id="DbInit" id="webserviceDbInit">
		<parameter id="position" value="30" />
		<parameter id="name" value="logicaldoc-webservice" />
		<parameter id="sqlFile" value="sql/logicaldoc-webservice.sql" />
	</extension>
</plugin>