<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="logicaldoc-lang-ru" version="6.0.0" class="com.logicaldoc.plugin.language.ru.RussianPlugin">
	<requires>
		<import plugin-id="logicaldoc-core" />
	</requires>	
	<extension plugin-id="logicaldoc-core" point-id="Language" id="ruLanguage">
		<parameter id="locale" value="ru" />
		<parameter id="analyzer" value="-" />
	</extension>
</plugin>
