<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <description>LogicalDOC - Document Management System</description>
 <display-name>LogicalDOC</display-name>
 <!--
		Location of the XML file that defines the root application context
		Applied by ContextLoaderListener.
	-->
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/classes/context.xml</param-value>
 </context-param>
 <context-param>
  <param-name>com.icesoft.faces.standardRequestScope</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>com.icesoft.faces.debugDOMUpdate</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <!-- concurrent DOM views -->
 <context-param>
  <param-name>com.icesoft.faces.concurrentDOMViews</param-name>
  <param-value>true</param-value>
 </context-param>
 <!-- Asynchronous Updates -->
 <context-param>
  <param-name>com.icesoft.faces.synchronousUpdate</param-name>
  <param-value>false</param-value>
 </context-param>
 <!-- upload -->
 <context-param>
  <param-name>com.icesoft.faces.uploadDirectory</param-name>
  <param-value>upload</param-value>
 </context-param>
 <context-param>
  <param-name>com.icesoft.faces.uploadMaxFileSize</param-name>
  <param-value>52428800</param-value>
 </context-param>
 <!-- Timing  -->
 <context-param>
  <param-name>com.icesoft.faces.connectionTimeout</param-name>
  <param-value>300000</param-value>
 </context-param>
 <context-param>
  <param-name>com.icesoft.faces.connectionLostRedirectURI</param-name>
  <param-value>'lost.iface'</param-value>
 </context-param>
 <!-- Facelets -->
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.jspx</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.CONFIG_FILES</param-name>
  <param-value>/WEB-INF/faces-config.xml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.LIBRARIES</param-name>
  <param-value>/WEB-INF/facelets/tags/logicaldoc.taglib.xml</param-value>
 </context-param>
 <filter>
  <filter-name>LocaleFilter</filter-name>
  <filter-class>com.logicaldoc.web.LocaleFilter</filter-class>
 </filter>
 <filter>
  <filter-name>Charset Filter</filter-name>
  <filter-class>com.logicaldoc.web.CharsetFilter</filter-class>
  <init-param>
   <param-name>requestEncoding</param-name>
   <param-value>UTF-8</param-value>
  </init-param>
 </filter>
 <!-- mappings -->
 <filter-mapping>
  <filter-name>LocaleFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Charset Filter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <!-- Application initializer -->
 <listener>
  <listener-class>com.logicaldoc.web.ApplicationInitializer</listener-class>
 </listener>
 <!--
		Loads the root application context of this web app at startup.
		Use WebApplicationContextUtils.getWebApplicationContext(servletContext)
		to access it anywhere in the web application, outside of the framework.
		
		The root context is the parent of all servlet-specific contexts.
		This means that its beans are automatically available in these child contexts,
		both for getBean(name) calls and (external) bean references.
	-->
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <!-- 
		IceFaces Listener
	-->
 <listener>
  <listener-class>com.icesoft.faces.util.event.servlet.ContextEventRepeater</listener-class>
 </listener>
 <!-- Session Tracker listener -->
 <listener>
  <listener-class>com.logicaldoc.web.SessionTracker</listener-class>
 </listener>
 <!-- file upload Servlet -->
 <servlet>
  <servlet-name>uploadServlet</servlet-name>
  <servlet-class>com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <!-- Faces Servlet -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <servlet-class>com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Blocking Servlet</servlet-name>
  <servlet-class>com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <display-name>Documents download servlet</display-name>
  <servlet-name>download</servlet-name>
  <servlet-class>com.logicaldoc.web.document.DocumentDownload</servlet-class>
 </servlet>
 <servlet>
  <display-name>Documents preview servlet</display-name>
  <servlet-name>thumbnail</servlet-name>
  <servlet-class>com.logicaldoc.web.document.DocumentPreview</servlet-class>
 </servlet>
 <servlet>
  <display-name>Document resource upload servlet</display-name>
  <servlet-name>uploadresource</servlet-name>
  <servlet-class>com.logicaldoc.web.document.DocumentResourceUpload</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>upload</servlet-name>
  <servlet-class>com.logicaldoc.web.upload.Upload</servlet-class>
 </servlet>
 <servlet>
  <display-name>Logs download servlet</display-name>
  <servlet-name>log</servlet-name>
  <servlet-class>com.logicaldoc.web.admin.LogDownload</servlet-class>
 </servlet>
 <servlet>
  <display-name>Download tickets servlet</display-name>
  <servlet-name>download-ticket</servlet-name>
  <servlet-class>com.logicaldoc.web.document.TicketDownload</servlet-class>
 </servlet>
 <servlet>
  <display-name>Zip export servlet</display-name>
  <servlet-name>zip-export</servlet-name>
  <servlet-class>com.logicaldoc.web.document.ExportZip</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Faces Servlet_tmp</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>CXFServlet</servlet-name>
  <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Webdav</servlet-name>
  <servlet-class>com.logicaldoc.webdav.web.WebdavServlet</servlet-class>
  <init-param>
   <param-name>resource-path-prefix</param-name>
   <param-value>/webdav</param-value>
  </init-param>
  <init-param>
   <param-name>resource-config</param-name>
   <param-value>/WEB-INF/config.xml</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>uploadServlet</servlet-name>
  <url-pattern>/uploadHtml</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>uploadServlet</servlet-name>
  <url-pattern>/license/uploadHtml</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <url-pattern>*.jspx</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <url-pattern>*.iface</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Persistent Faces Servlet</servlet-name>
  <url-pattern>/xmlhttp/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Blocking Servlet</servlet-name>
  <url-pattern>/block/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>download</servlet-name>
  <url-pattern>/download</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>thumbnail</servlet-name>
  <url-pattern>/thumbnail</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>uploadresource</servlet-name>
  <url-pattern>/uploadresource</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>upload</servlet-name>
  <url-pattern>/upload</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>log</servlet-name>
  <url-pattern>/log</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>download-ticket</servlet-name>
  <url-pattern>/download-ticket</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>zip-export</servlet-name>
  <url-pattern>/zip-export</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CXFServlet</servlet-name>
  <url-pattern>/services/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Webdav</servlet-name>
  <url-pattern>/webdav/*</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <!-- Welcome files -->
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <!-- Human readable errors -->
 <error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/error.jsp</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/error.jsp</location>
 </error-page>
 <error-page>
  <error-code>404</error-code>
  <location>/error.jsp</location>
 </error-page>
 <jsp-config>
  <jsp-property-group>
   <url-pattern>*.jsp</url-pattern>
   <el-ignored>false</el-ignored>
  </jsp-property-group>
  <jsp-property-group>
   <url-pattern>*.jspx</url-pattern>
   <el-ignored>false</el-ignored>
  </jsp-property-group>
  <jsp-property-group>
   <url-pattern>*.xhtml</url-pattern>
   <el-ignored>false</el-ignored>
  </jsp-property-group>
 </jsp-config>
 <security-constraint>
  <display-name>Setup only allowed after authentication</display-name>
  <web-resource-collection>
   <web-resource-name>Setup</web-resource-name>
   <url-pattern>/setup/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>admin</role-name>
  </auth-constraint>
 </security-constraint>
 <security-constraint>
  <display-name>Sessions management only allowed after authentication</display-name>
  <web-resource-collection>
   <web-resource-name>Sessions</web-resource-name>
   <url-pattern>/sessions/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>admin</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>BASIC</auth-method>
  <realm-name>SETUP Login</realm-name>
 </login-config>
 <security-role>
  <role-name>admin</role-name>
 </security-role>
</web-app>
